extends _layouts/base

include _modules/link/link

block meta
  - title = site.data.info.meta.title
  - description = site.data.info.meta.description
  - subtitle = site.data.info.meta.subtitle
block content
  - stories = site.data.info.story
  .content
    //- each story in stories

    .menu-wrapper
      input#menu-back-button(type="radio" name="stories")
      .menu-background
      .menu
        - i = 0;
        each story in stories
          - var className = story.class || ''
          - var checked = (i + 1 === stories.length)
          if checked
            input(type="radio" id="story-#{i}" name="stories" checked).menu-input
          else
            input(type="radio" id="story-#{i}" name="stories").menu-input
          .card(id="#{story.title}")
            h1 #{story.title}
            .card-body
              each line in story.lines
                h2 #{line}
          section(class="menu-item #{className}")
            label.menu-link(href="##{story.title}" for="story-#{i}") #{story.title}
          - i++;
      label.menu-back-button(for="menu-back-button") Menu
